{% load static %}
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% include 'parts/header.html' %}
<hr width="100%" color="grey">
<p class="heading">My cart</p>
<div class="wholecart">
    <div class="ordered">
        <h2 class="menu">Menu</h2>
        <p class="meals">Meals</p>
        {% for x in move %}
            {% for res in pro %}
                {% if res.id == x.id %}
                    <div style="margin-bottom: 10px;">
                        <hr style="color: rgb(191, 191, 191);">
                        <div class="meal">
                            <img src="{{ res.image.url }}" class="mealimg">
                            <div style="margin-top: -10px;margin-left: 10px;">
                                <p style="font-size: 17px;margin: 24px 0 5px 0;">{{res.title}}</p>
                                <p style="margin:0px ;color:rgb(151, 151, 151);">{{res.description}}</p>
                                <p class="itemPrice">{{res.price}}$</p>
                            </div>
                            <input type="number" name="id{{res.id}}" id="input" value={{x.count}} min=0 max=9 disabled>
                            <form method="post">{% csrf_token %}
                                <input type="hidden" name="trash{{res.id}}">
                                <button class="trashBtn">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
<form method="post"> {% csrf_token %}
    <div class="payment">

        <h2>Payment summary</h2>

        <p>Subtotal</p>
        <p style="margin-left: 60%;">${{price}}</p><br>
        <p>Shipping</p>

        {% if price == 0 %}
        <p style="margin-left: 58.7%;">$0</p><br>
        <p>Total(tax incl.)</p>
        <p style="margin-left: 49%;color: blue;">$0</p>
        {% else %}

        <p style="margin-left: 58.7%;">$20</p><br>
        <p>Total(tax incl.)</p>
        <input type="text" name="to" value="${{price|add:20}}" class="totalamount" >

        {% endif %}
        
        
        <div class="proceed" >
            <input type="submit" value="Proceed to checkout" class="submitamount" name="Proceed">
        </div>
    </div>
 
</form>
{% if move_count != 0 %}
    <form method="post">{% csrf_token %}
        <button name="clearProducts" class="clearProducts">
            Clear Cart <i class="fa-trash-o fa"></i>
        </button> 
    </form>
{% endif %}
</div>
