.submit{
    position: fixed;
    top: 250px;
    right: 250px;
    width: 120px;
    height: 60px;
    border-width: 1px;
    cursor: pointer;
    border-style: solid;
    font-size: 25px; 
    background-color: rgb(229, 229, 229);
    color: #cacaca;
    border-color: rgb(69, 69, 69);
    border-radius: 5px  !important;
}

.productInfo{
    margin-top: -10px;
    margin-left: 10px;
}

.proTitle{
    font-size: 17px;
    margin: 24px 0 5px 0;
}

.proDes{
    margin:0px ;
    color:rgb(151, 151, 151);
}

.proPrice{
    margin:10px;
    margin-left:1%;
    color: blue; 
    font-size: 17px;
}

form div div div input {
    width: 60px;
    height: 35px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 400px;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    right: 70px;
}