{% load custom_tags %}
{% load static %}
{% include 'parts/header.html' %}
<link rel="stylesheet" href="{% static 'css/main_page/main_page.css' %}">
<link rel="stylesheet" href="{% static 'css/main_page/Pagination.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/main_page.js' %}"></script>
<hr color="grey"><br>
{% comment %} <div class="offers">
    <div class="deserts" style="background-color:#f3f4ff;">
        <img src="{% static 'images/hugecupcake.png' %}" alt="" class="desertsimg inlineblock">
        <div class="inlineblock desertsdiv">
            <p class="desertsp inlineblock">All deserts</p><br>
            <p class="desertsp1 inlineblock" style="color: rgb(78, 96, 255);">20% OFF</p>
        </div>
    </div>
    <div class="deserts">
        <img src="{% static 'images/burger.png' %}" alt="" class="desertsimg inlineblock">
        <img src="{% static 'images/burger1.png' %}" alt="" >
        <div class="inlineblock desertsdiv">
            <p class="desertsp inlineblock">Burgers</p><br>
            <p class="desertsp1 inlineblock" >40% OFF</p>
        </div>
    </div>
</div>

<hr color="white">

<div class="catogeries">
    <div class="catogery"><img src="{% static 'images/pizza.svg' %}" alt="">
        <p>Pizza</p>
    </div>
    <div class="catogery"><img src="{% static 'images/burger.svg' %}" alt="">
        <p>Burger</p>
    </div>
    <div class="catogery"><img src="{% static 'images/burger.svg' %}" alt="">
        <p>Burger</p>
    </div>
    <div class="catogery"><img src="{% static 'images/salmon-sushi.svg' %}" alt="">
        <p>Sushi</p>
    </div>
    <div class="catogery"><img src="{% static 'images/healthy.png' %}" alt="">
        <p>Vegetables</p>
    </div>
    <div class="catogery"><img src="{% static 'images/cupcake.png' %}" alt="">
        <p>Deserts</p>
    </div>
</div> {% endcomment %}
<p>Nearby resturants</p>

<div class="resturants" >
    {% if filteredRestaurantsLength != 0 %}
        {% for restaurant in restaurants %}
        <div>
            <form id="form-{{ forloop.counter }}" method="get" action="{% url 'restaurant_menu' %}">
                <input type="hidden" name="{{restaurant.id}}">
                <div onclick="submitForm( {{forloop.counter}} )" id="{{restaurant.name}}" style="position: relative;">
                    {% if restaurant.image %}
                        <img src="{{ restaurant.image.url }}">
                    {% endif %}
                    <p class="restaurantName">{{restaurant.name}}</p>
                    <p class="restaurantPrice">Average Product Price : {{average_product_price|get_item:restaurant}}$</p>
                    <span>
                        <p class="properties">{{restaurant.category}}</p>
                    </span>
                    <span>
                        <p class="properties">{{restaurant.rate}}<span class="fa fa-star checked"></span></p>
                    </span>
                </div>
            </form>
            <div class="edit">
                <a href="{% url 'create_restaurant' %}?id={{restaurant.id}}">&#9998;</a>
                <span onclick="deleteRestaurant({{restaurant.id}})" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </span>
            </div>
        </div>
        {% endfor %}
    {% else %}
            <div class="emptyPage">
                <p>There are no restaurants found with this name</p>
            </div>
    {% endif %}
</div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item"><a class="page-link " id="previous" onclick="pagination('previous',{{currentPage}})">Previous</a></li>
            
            {% for thisPage in paginationLength|rangeCustom %}
                <li class="page-item" id="{{thisPage}}">
                    <a class="page-link" onclick="pagination({{thisPage}},{{currentPage}})" >{{thisPage}}</a>
                </li>
            {% endfor %}

            <li class="page-item"><a class="page-link" id="next" onclick="pagination('next',{{currentPage}})">Next</a></li>
        
        </ul>
    </nav>

<script>
    window.onload = onloadActions({{currentPage}},{{paginationLength}})
</script>
{% include 'parts/footer.html' %}