{% load math_tags %}
{% load custom_attributes %}
{% load static %}
{% include 'parts/header.html' %}
<link rel="stylesheet" href="{% static 'css/respage/respage.css' %}">
<hr color="grey"><br>
<div class="offers">
    <div class="deserts" style="background-color:#f3f4ff;">
        <img src="{% static 'images/hugecupcake.png' %}" alt="" class="desertsimg inlineblock">
        <div class="inlineblock desertsdiv">
            <p class="desertsp inlineblock">All deserts</p><br>
            <p class="desertsp1 inlineblock" style="color: rgb(78, 96, 255);">20% OFF</p>
        </div>
    </div>
    <div class="deserts">
        <img src="{% static 'images/burger.png' %}" alt="" class="desertsimg inlineblock">
        <img src="{% static 'images/burger1.png' %}" alt="" >
        <div class="inlineblock desertsdiv">
            <p class="desertsp inlineblock">Burgers</p><br>
            <p class="desertsp1 inlineblock" >40% OFF</p>
        </div>
    </div>
</div>

<hr color="white">

<div class="catogeries">
    <div class="catogery"><img src="{% static 'images/pizza.svg' %}" alt="">
        <p>Pizza</p>
    </div>
    <div class="catogery"><img src="{% static 'images/burger.svg' %}" alt="">
        <p>Burger</p>
    </div>
    <div class="catogery"><img src="{% static 'images/burger.svg' %}" alt="">
        <p>Burger</p>
    </div>
    <div class="catogery"><img src="{% static 'images/salmon-sushi.svg' %}" alt="">
        <p>Sushi</p>
    </div>
    <div class="catogery"><img src="{% static 'images/healthy.png' %}" alt="">
        <p>Vegetables</p>
    </div>
    <div class="catogery"><img src="{% static 'images/cupcake.png' %}" alt="">
        <p>Deserts</p>
    </div>
</div>
<p>Nearby resturants</p>

<div class="resturants" >
    {% for x in restaurantTable %}
    <form id="form-{{ forloop.counter }}" method="post" action="{% url 'respage' %}">{% csrf_token %}
        <input type="hidden" name="{{x.name}}">
        <div onclick="submitForm( {{forloop.counter}} )">
            <img src="{{ x.image.url }}">
            <p class="resturantName">{{x.name}}</p>
            <p class="resturantOrder">Average Order Time {{x.average_order_time}} min</p>
            <p class="resturantPrice">Average Price Amount : {{average_price_object|getEle:x}}$</p>
            <span>
                <p>{{x.category}}</p>
            </span>
        </div>
    </form>
    {% endfor %}
</div>


<button>View more</button>

<script>
    function submitForm(formIndex) {
        var formId = 'form-' + formIndex;
        var form = document.getElementById(formId);
        form.submit();
    }
</script>

{% include 'parts/footer.html' %}