.table{
    width: 80%;
    margin-left: 10%;
    border: 2px solid rgb(141, 141, 141);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: rgb(134, 134, 134);
}
.table1,.table2{
    width: 80%;
    margin-left: 10%;
    border: 1px solid rgb(193, 193, 193);
    border-top: none;
    padding: 10px;
}
.table2{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
th,td{
    width: 13.3%;
    text-align: center;
}
.clear{
    width: 80%;
    margin: 10 10% 10 10%;
    height: 30px;
    background-color: rgb(110, 110, 110);
    border-radius: 20px;
    border: none;
    outline: none;
    color: #dddddd;
    font-size: 16px;
    cursor: pointer;
}