{% load static %}
{% include 'parts/header.html' %}
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/restaurants/restaurants.css' %}">

<form method="POST">{% csrf_token %}
    <div class="ordered">
        <h2 class="menu">Menu</h2>
        <p class="meals">Meals</p>
        {% for product in restaurant_products %}
            <div style="margin-bottom: 10px;">
                <hr style="color: rgb(191, 191, 191);">
                <div class="meal">
                    <img src="{{ product.image.url }}" alt="" class="mealimg" style="height: 100px;width: 100px;">
                    <div class="productInfo">
                        <p class="proTitle">{{product.title}}</p>
                        <p class="proDes">{{product.description}}</p>
                        <p class="proPrice">{{product.price}}$</p>
                    </div>
                    <input type="number" name="id{{product.id}}" id="input" value=0 min=0 max=9 >
                </div>
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="To Cart" class="submit" >
    
</form>
{% comment %}
<form action="{% url 'cart' %}">
        <input type="submit" value="Go Cart" class="submit" style="top: 340px;">
</form>
{% endcomment %}