{% load static %}
<link rel="stylesheet" href="{% static 'css/orders/orders.css' %}">
{% include 'parts/header.html' %}
<hr width="100%" color="grey"> <br><br>

<h2 style="margin-left: 10%;">My orders</h2>


    <table class="table" style="background-color: rgb(134, 134, 134);">
        <tr>
            <th>Order Id</th>
            <th>restaurant</th>
            <th>Creation date</th>
            <th>Creation time</th>
            <th>Status</th>
            <th>Total amount</th>
        </tr>
    </table> 
            {% for x in movetoorders %}
                <table class="table1">
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.restaurant}}</td>
                        <td>{{x.date}}</td>
                        <td>{{x.time}}</td>
                        <td>Status</td>
                        <td>${{x.totalamount}}</td>
                    </tr>
                </table>
            {% endfor %}
        <table class="table2">
            <th style="width: 100%;font-size: 30px;">
                Thanks for using
            </th>
        </table>
        <script src="{% static 'js/cart.js' %}"></script>