{% load static %}
<link rel="stylesheet" href="{% static 'css/orders/orders.css' %}">
{% include 'parts/header.html' %}
<hr width="100%" color="grey"> <br><br>
<h2 style="margin-left: 10%;">My orders</h2>


    <table class="table" style="background-color: rgb(134, 134, 134);">
        <tr>
            <th>Order Id</th>
            <th>restaurant</th>
            <th>Creation date</th>
            <th>Creation time</th>
            <th>Status</th>
            <th>Total amount</th>
        </tr>
    </table>
        <table class="table1">
            <tr>
                <td>Order Id</td>
                <td>restaurant</td>
                <td>Creation date</td>
                <td>Creation time</td>
                <td>Status</td>
                <td>Total amount</td>
            </tr>
        </table>
        <table class="table2">
            <th style="width: 100%;font-size: 30px;">
                Thanks for using
            </th>
        </table>