.meals {
    color: rgb(144, 144, 144);
    display: inline-block;
    margin-left: 20px;
}

.menu {
    display: inline-block;
}

.wholecart {
    width: 80%;
    margin-left: 10%;
}

.ordered {
    width: 60%;
    border: 1px solid rgb(183, 183, 183);
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

.meal {
    display: flex;
}

.mealimg {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.payment {
    display: inline-block;
    border: 1px solid rgb(183, 183, 183);
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    width: 27%;
    position: absolute;
    margin-left: 30px;
}

.payment p {
    margin: 10px;
}

.proceed {
    height: 45px;
    background-color: rgb(35, 35, 240);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}