{% load static %}
<link rel="stylesheet" href="{%  static 'css/parts/footer.css' %}">
<div class="wholefooter">
    <div class="leftside">
        <p class="food" >Food</p><br>
        <p class="delivery">delivery</p><br>
        <img class="leftsideimages " style="margin-left: 0px;" src="{% static 'images/facebook.png' %}"alt="facebook">
        <img class="leftsideimages " src="{% static 'images/twitter.png' %}" alt="twitter">
        <img class="leftsideimages " src="{% static 'images/ins.png' %}" alt="mail">
        <img class="leftsideimages " src="{% static 'images/youtube.png' %}" alt="youtube">
        <img class="leftsideimages " src="{% static 'images/lin.png' %}" alt="linkedin"><br><br>
        <p style="color: rgb(120, 120, 120);margin-left: 20px;">©2021 food delivery in Allrights
            reseved&nbsp;&nbsp;&nbsp;&nbsp;
            <b style="color: rgb(180, 181, 192);">Terms of use . privacy
                policy</b>
        </p>
    </div>
    <div class="rightside" >
        <div >
            <p class="listheader">Resources</p>
            <p class="listchar">Help&service</p>
            <p class="listchar">gaming</p>
            <p class="listchar">security</p>
            <p class="listchar">pricing</p>
        </div>
        <div>
            <p class="listheader">Resources</p>
            <p class="listchar">Help&service</p>
            <p class="listchar">gaming</p>
            <p class="listchar">security</p>
            <p class="listchar">pricing</p>
        </div>
        <div >
            <p class="listheader">Resources</p>
            <p class="listchar">Help&service</p>
            <p class="listchar">gaming</p>
            <p class="listchar">security</p>
            <p class="listchar">pricing</p>
        </div>
    </div>
</div>