{% load static %}
<link rel="stylesheet" href="{% static 'css/parts/header.css' %}">

<div class="navbar">
    <div class="fooddelivery inlineblock">
        <p class="food inlineblock">Food</p><br>
        <p class="delivery inlineblock">delivery</p>
    </div>
    <form id="searchForm" action="javascript:searchFormSubmit(document.getElementById('search').value);" method="get"style="display: inline-block;">
        <input type="search" class="search" id="search" name="searchValue" oninput="searchFunction(this.value)"
            placeholder="Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🔍">
    </form>
    <div class="headerleftside">
        <div class="leftsidespan inlineblock"><a class="leftsidelinks" href="{% url 'main_page' %}">Resturunts</a></div>
    </div>
</div>
<script src="{% static 'js/header.js' %}"></script>