.heading{
    margin-left: 10%;
    font-family: system-ui;
    font-weight: 600;
    font-size: 17px;
}

.meals {
    color: rgb(144, 144, 144);
    display: inline-block;
    margin-left: 20px;
}

input {
    width: 60px;
    height: 35px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 400px;
    margin-top: 30px;
}

.menu {
    display: inline-block;
}

.wholecart {
    width: 80%;
    margin-left: 10%;
    display: flex;
}

.ordered {
    width: 60%;
    border: 1px solid rgb(183, 183, 183);
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

.meal {
    display: flex;
    position: relative;
}

.mealimg {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.payment {
    display: inline-block;
    border: 1px solid rgb(183, 183, 183);
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    width: 27%;
    position: absolute;
    margin-left: 30px;
}

.payment p {
    margin: 10px;
    display: inline-block;
}

.proceed {
    height: 45px;
    background-color: rgb(35, 35, 240);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalamount{
    color: blue;
    margin: 0 0 0 178;
    border: none;
    outline: none;
    background-color: inherit;
}

.submitamount{
    color: #fff;
    width: min-content;
    margin: 0%;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: inherit;
}

.clearProducts{
    font-size: 30px;
    position: absolute;
    right: 220px;
    top: 470px;
    padding: 20px;
    background-color: inherit;
    border: 3px solid rgb(93, 86, 86);
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

.itemPrice{
    margin:10px;
    margin-left:1%;
    color: blue; 
    font-size: 17px;
}

.trashBtn{
    font-size:24px;
    position: absolute;
    top: 33px;
    right: 20px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.meal [type = number]{
    position: absolute;
    top: 0px;
    right: 70px;
}